.project-box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 400px;
    margin: 10px;
    background-color: white;
    border-top: 7px solid rgb(255, 89, 89);
    border-radius: 20%;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;

    &:hover {
        cursor: pointer;
        transform: scale(1.05);
    }

    .project-name {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10%;
        width: 100%;
    }

    .project-component {
        height: 90%;
        width: 100%;
        margin-top: 10px;
    }
}