.project-box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 400px;
    margin: 10px;

    .project-name {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10%;
        width: 100%;
        border: 2px solid yellow;
        background-color: aliceblue;
        border-radius: 20%;
    }

    .project-component {
        height: 90%;
        width: 100%;
        border: 1px solid lightblue;
        margin-top: 10px;
        border-radius: 11%;
    }
}